.main {
	text-align: center;
	height: 797px;
}

.main h2 {
	padding-top: 80px;/**/
	color: black;
	line-height: 50px;
	font-size: 30px;
	font-weight: bold;
}

.main ul {
	display: inline-block;
}

.norml li a {
	line-height: 65px;
	color: black;
	font-size: 15px;
	padding: 0 17px;
	text-transform: uppercase;
}

.norml li a:hover {
	line-height: 65px;
	color: orange;
	font-size: 15px;
	padding: 0 17px;
}

.norml li .active {
	line-height: 65px;
	color: orange;
	font-size: 15px;
	padding: 0 17px;
}

.mark {
	width: 285px;
	height: 182px;
	position: relative;
	float: left;
}

.mark img {
	width: 100%;
	height: 100%;
}

.mark a {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .2);
	position: absolute;
	top: 0;
	left: 0;
	line-height: 182px;
	color: #fff;
	font-size: 30px;
	display: none;
}

.mark:hover a {
	display: block;
}